# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Treat all Go files in this repo as binary, with no git magic updating
# line endings. Windows users contributing to Go will need to use a
# modern version of git and editors capable of LF line endings.

*.go -text diff=golang
*.go text eol=lf


# don't count abigen files in linguist as go
*.abigen.go linguist-generated
# ignore multicopier files
*_gen.go linguist-generated
# ignore ifacemaker files
*_generated.go linguist-generated
contrib/opbot/generated/* linguist-generated
*.contractinfo.json linguist-generated=true


# svg should be treated as a binary https://git.io/JE2VK
*.svg    binary
*.sol linguist-language=Solidity

.vscode/*.json linguist-language=jsonc

# foundry deploy data
packages/**/deployments/*.json linguist-vendored
