* @trajan0x

*.sol @ChiTimesChi @aureliusbtc @trajan0x
*.go @trajan0x

.github/ @trajan0x
.github/workflows/solidity.yml @trajan0x @ChiTimesChi

.vscode/ @trajan0x @ChiTimesChi
agents/ @trajan0x @ChiTimesChi
core/ @trajan0x
charts/ @trajan0x @bsgrigorov
docker/ @trajan0x @bsgrigorov
ethergo/ @trajan0x
make/ @trajan0x

packages/contracts-core/ @ChiTimesChi @trajan0x
packages/docs/  @trajan0x @nautsimon
packages/sdk-router/ @aureliusbtc @ChiTimesChi @trajan0x @nautsimon
packages/explorer-ui/ @trajan0x @nautsimon @bigboydiamonds @abtestingalpha
packages/rest-api/ @trajan0x @Defi-Moses @nautsimon
packages/synapse-interface/ @bigboydiamonds @abtestingalpha @nautsimon @aureliusbtc

contrib/ @trajan0x

services/explorer @trajan0x @nautsimon
services/omnirpc @trajan0x @nautsimon
services/scribe @trajan0x @nautsimon

tools/ @trajan0x

# config files
.changeset/ @aureliusbtc
.prettierrc.js @trajan0x @ChiTimesChi
.prettierrc.json @trajan0x @ChiTimesChi
.eslintrc.js @trajan0x @ChiTimesChi
LICENSE @trajan0x @aureliusbtc


