go 1.19

use (
	./agents
	./contrib/release-copier-action
	./contrib/terraform-provider-helmproxy
	./contrib/terraform-provider-iap
	./core
	./ethergo
	./services/explorer
	./services/omnirpc
	./services/scribe
	./tools
)
