go 1.22.7

toolchain go1.23.3

// note: new paths should be added as flags to the .codecov.yaml
use (
	./agents
	./contrib/git-changes-action
	./contrib/golang-ci-lint
	./contrib/opbot
	./contrib/promexporter
	./contrib/restclient
	./contrib/screener-api
	./core
	./ethergo
	./services/cctp-relayer
	./services/explorer
	./services/omnirpc
	./services/rfq
	./services/scribe
	./tools
)
