@keyframes header {
  0% { width: 14rem }
  100% { width: 15rem }
}
.dt + dd {
  display: none;
}
.dt:hover + dd, .dt + dd:hover {
  /* animation: header .3s cubic-bezier(0, .5, .2, 1); */
  display: block;
}

.dt + dd:hover header {
  text-decoration: underline;
}
