.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.container__spacer {
  margin: 0em 1em 3em 1em;
}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardTitle {
  color: #e84142;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.iconExternalIcon {
  margin-left: 0.5em;
}

.cards__container {
  margin: 3em 0;
}

.cards__container .col {
  margin-bottom: 1em;
}

.card {
  padding: 1rem;
  margin-top: 0rem;
  animation: fadeInUp 400ms backwards;
  animation-delay: 150ms;
  transition-property: all;
  transition-duration: 200ms;
  align-items: start;
  height: 100%;
  box-shadow: 0 8px 15px 2px rgba(86, 91, 115, 0.1);
}

.card a {
  text-decoration: none;
}

.card:hover {
  transform: translate(0px, -5px);
}

.card__header h3 {
  color: #e84142;
}
