[profile.default]
# 2024-01-01
block_timestamp = 1_704_067_200
evm_version = "paris"
src = 'contracts'
out = 'out'
libs = ["lib"]
ffi = true
fs_permissions = [
    { access = "read", path = "./" },
    { access = "read-write", path = "./.deployments" }
]

[fmt]
line_length = 120
multiline_func_header = 'all'
number_underscore = 'thousands'

[rpc_endpoints]
arbitrum = "${ARBITRUM_RPC}"
mainnet = "${MAINNET_RPC}"
optimism = "${OPTIMISM_RPC}"

[etherscan]
arbitrum = { key = "${ARBITRUM_VERIFIER_KEY}", url = "${ARBITRUM_VERIFIER_URL}" }
mainnet = { key = "${MAINNET_VERIFIER_KEY}", url = "${MAINNET_VERIFIER_URL}" }
optimism = { key = "${OPTIMISM_VERIFIER_KEY}", url = "${OPTIMISM_VERIFIER_URL}" }
# See more config options https://github.com/foundry-rs/foundry/tree/master/config
