@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --synapse-widget-primary-color: 0, 0, 0;
        --synapse-widget-secondary-color: 105, 105, 105;
        --synapse-widget-accent-color: 17, 0, 255;
        --synapse-widget-small-color: 169, 169, 169;
        --synapse-widget-separator-color: 220, 220, 220;
        --synapse-widget-background-color: 245, 245, 245;
        --synapse-widget-surface-color: 255, 255, 255;
        --synapse-widget-font-family: system-ui, -apple-system, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif, 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue'
    }
}
