name: 'Close stale issues, branches and PRs'
on:
  schedule:
    - cron: '30 1 * * *'
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/close-stale.yml'

jobs:
  stale-prs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v8
        with:
          stale-pr-message: 'This PR is stale because it has been open 14 days with no activity. Remove stale label or comment or this will be closed in 5 days.'
          exempt-pr-labels: exempt-stale
          days-before-issue-stale: 999
          days-before-pr-stale: 14
          days-before-close: 5
          repo-token: ${{ secrets.GITHUB_TOKEN }}
  stale-branches:
    name: Remove Stale Branches
    runs-on: ubuntu-latest
    steps:
      - name: Collect Workflow Telemetry
        uses: catchpoint/workflow-telemetry-action@v1
        with:
          comment_on_pr: false
          proc_trace_sys_enable: true
          metric_frequency: 2
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: fpicalausa/remove-stale-branches@v1
        with:
          operations-per-run: 50
          days-before-branch-delete: 3
          # yamllint disable-line
          stale-branch-message: "@{author} Your branch [{branchName}]({branchUrl}) hasn't been updated in the last 60 days and is marked as stale. It will be removed in a week. If a pull request is open on this branch, you can ignore this message, you can always restore your branch on the pull request link. \r\nIf you want to keep this branch around, delete this comment or add new commits to this branch.	"
