name: CI

on:
  pull_request:
    types: [ labeled ]

jobs:
  build:
    if:  ${{ contains( github.event.label.name, 'needs-go-generate') }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Fail on needs-go-generate
        run: echo Failed, needs go generate.
