name: Foundry Tests

on:
  pull_request:
    paths:
      - 'packages/contracts-core/**'
  push:
    paths:
      - 'packages/contracts-core/**'
      - '.github/workflows/foundry-tests.yml'

jobs:
  check:
    name: Foundry Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup NodeJS
        uses: ./.github/actions/setup-nodejs

      - name: Installing dependencies
        working-directory: ./packages/contracts-core
        run: yarn install --immutable

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Run Foundry Tests
        working-directory: ./packages/contracts-core
        run: forge coverage -vvv --report=lcov

      - uses: codecov/codecov-action@v3
        name: Send Coverage (Codecov)
        with:
          token: ${{ secrets.CODECOV }}
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)
          working-directory: ./packages/contracts-core/
          flags: solidity

      - name: Run snapshot
        working-directory: ./packages/contracts-core
        run: forge snapshot >> $GITHUB_STEP_SUMMARY
