name: Foundry Tests

on:
  pull_request:
    paths:
      - 'packages/contracts-core/**'
  push:
    paths:
      - 'packages/contracts-core/**'


jobs:
  check:
    name: Foundry Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Read .nvmrc
        run: echo "##[set-output name=NVMRC;]$(cat .nvmrc)"
        id: nvmrc

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: 'Use NodeJS by nvmrc'
        uses: actions/setup-node@v2
        with:
          node-version: '${{steps.nvmrc.outputs.NVMRC}}'

      - name: Initialize Yarn cache
        uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Installing dependencies
        working-directory: ./packages/contracts-core
        run: yarn install --frozen-lockfile --check-files

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Run Foundry Tests
        working-directory: ./packages/contracts-core
        run: forge coverage -vvv --report=lcov

      - uses: codecov/codecov-action@v3
        name: Send Coverage (Codecov)
        with:
          token: ${{ secrets.CODECOV }}
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)
          working-directory: ./packages/contracts-core/
          flags: solidity

      - name: Run snapshot
        working-directory: ./packages/contracts-core
        run: forge snapshot >> $GITHUB_STEP_SUMMARY
