name: Vercel Preview Deployment
env:
  GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
  VERCEL_TOKEN: '${{ secrets.VERCEL_TOKEN }}'
  VERCEL_ORG_ID: '${{ secrets.VERCEL_ORG_ID }}'
  VERCEL_PROJECT_ID: '${{ secrets.VERCEL_PROJECT_ID }}'
  WORKING_DIRECTORY: 'packages/explorer-ui'
  NODE_ENV: 'production'
on:
  push:
    branches-ignore:
      - master
  paths:
    - 'packages/explorer-ui/**'
    - '.github/workflows/ui-preview.yaml'
jobs:
  Deploy-Preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup NodeJS
        uses: ./.github/actions/setup-nodejs

      - name: Install Vercel CLI
        run: npm install --global vercel@latest
      - name: Pull Vercel Environment Information
