name: Explorer UI
on:
  push:
    branches: [master]
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy to Vercel Action
        uses: BetaHuhn/deploy-to-vercel-action@v1
        with:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
          VERCEL_TOKEN: '${{ secrets.VERCEL_TOKEN }}'
          VERCEL_ORG_ID: '${{ secrets.VERCEL_ORG_ID }}'
          VERCEL_PROJECT_ID: '${{ secrets.VERCEL_PROJECT_ID }}'
#          WORKING_DIRECTORY: 'packages/explorer-ui'
t
