name: Explorer UI Deploy
on:
  push:
    branches: [master]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  changes:
    name: Change Detection
    runs-on: ubuntu-latest
    outputs:
      folders: ${{ steps.filter_go.outputs.changes }}
      folder_count: ${{ steps.length.outputs.FILTER_LENGTH }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: dorny/paths-filter@v2
        name: 'Check for Changes in each ui folder'
        id: filter_ui
        with:
          #  make sure to update run-goreleaser when adding a new package here
          filters: |
            explorer-ui: 'packages/explorer-ui/**'
      - id: length
        run: |
          export FILTER_LENGTH=$(echo $FILTERED_PATHS | jq '. | length')
          echo "##[set-output name=FILTER_LENGTH;]$(echo $FILTER_LENGTH)"
        env:
          FILTERED_PATHS: ${{ steps.filter_ui.outputs.changes }}

  deploy-explorer:
    needs: changes
    runs-on: ubuntu-latest
    if: ${{ needs.changes.outputs.folder_count > 0 && contains(fromJson(needs.changes.outputs.folders), 'explorer-ui') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy to Vercel Action
        uses: BetaHuhn/deploy-to-vercel-action@v1
        with:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
          VERCEL_TOKEN: '${{ secrets.VERCEL_TOKEN }}'
          VERCEL_ORG_ID: '${{ secrets.VERCEL_ORG_ID }}'
          VERCEL_PROJECT_ID: '${{ secrets.VERCEL_PROJECT_ID }}'
          WORKING_DIRECTORY: 'packages/explorer-ui'
